<!DOCTYPE html>
<html>

	<head>
		<base href="../../" />
		<meta charset="utf-8">
		<title>添加用户</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->
		<link rel="stylesheet" href="lib/layui-v2.5.4/css/layui.css" media="all">
		<link rel="stylesheet" href="css/public.css" media="all">
		<script src="lib/layui-v2.5.4/layui.js" charset="utf-8"></script>
		<script src="js/user/adduser.js"></script>
		<style>
			.custom_input_width {
				width: 500px;
			}
			
			.custom_textarea_width {
				width: 600px;
			}
		</style>
	</head>

	<body>
		<div class="layuimini-container">
			<div class="layuimini-main">

				<fieldset class="layui-elem-field layui-field-title">
					<legend>添加用户</legend>
				</fieldset>

				<form class="layui-form" action="" lay-filter="example">
					<div class="layui-input-block layui-inline" style="position: relative;left: 433px;">
						<button type="reset" id="reset" class="layui-btn  layui-btn-sm layui-btn-primary" style="opacity:0.7">
						    <i class="layui-icon layui-icon-refresh"></i>重置
						</button>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label"><span class="custom-font-color-red">*&nbsp;</span>用户名：</label>
						<div class="layui-input-block custom_input_width">
							<input type="text" name="username" lay-verify="username" autocomplete="off" placeholder="请输入用户名" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label"><span class="custom-font-color-red">*&nbsp;</span>用户密码：</label>
						<div class="layui-input-block custom_input_width">
							<input type="password" name="userpwd" id="userpwd" lay-verify="userpwd" autocomplete="off" placeholder="请输入用户密码" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label"><span class="custom-font-color-red">*&nbsp;</span>确定密码：</label>
						<div class="layui-input-block custom_input_width">
							<input type="password" name="userpwd2" id="userpwd2" lay-verify="userpwd2" autocomplete="off" placeholder="请再次输入用户密码" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label"><span class="custom-font-color-red">*&nbsp;</span>身份：</label>
						<div class="layui-input-block">
							<input type="radio" name="role" value="普通用户" title="普通用户" autocomplete="off" checked="checked">
							<input type="radio" name="role" value="管理员" title="管理员" autocomplete="off">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label"><span class="custom-font-color-red">*&nbsp;</span>真实姓名：</label>
						<div class="layui-input-block custom_input_width">
							<input type="text" name="realname" lay-verify="realname" autocomplete="off" placeholder="请输入真实姓名" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item layui-form-text">
						<label class="layui-form-label">备注：</label>
						<div class="layui-input-block custom_textarea_width">
							<textarea name="remark" id="remark" autocomplete="off" lay-verify="content" class="layui-textarea"></textarea>
						</div>
					</div>

					<div class="layui-form-item">
						<div class="layui-input-block">
							<button class="layui-btn" lay-submit="" lay-filter="form" style="position: relative;left: 170px;">立即提交</button>
						</div>
					</div>
				</form>
				<ins class="adsbygoogle" style="display:inline-block;width:970px;height:10px"></ins>
			</div>
		</div>
	</body>

</html>