<!DOCTYPE html>
<html>

	<head>
		<base href="../../" />
		<meta charset="utf-8">
		<title>修改密码</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="lib/layui-v2.5.4/css/layui.css" media="all">
		<link rel="stylesheet" href="css/public.css" media="all">
		<script src="lib/layui-v2.5.4/layui.js" charset="utf-8"></script>
		<script src="js/user/modifyuserpwd.js"></script>
		<style>
			.custom_input_width {
				width: 500px;
			}
			
			.custom_textarea_width {
				width: 600px;
			}
		</style>
	</head>

	<body>
		<div class="layuimini-container">
			<div class="layuimini-main">

				<fieldset class="layui-elem-field layui-field-title">
					<legend>修改密码</legend>
				</fieldset>

				<form class="layui-form" action="" lay-filter="example">
					<input type="hidden" name="userid" id="userid" autocomplete="off" class="layui-input">
					<div class="layui-form-item">
						<label class="layui-form-label"><span class="custom-font-color-red">*&nbsp;</span>原密码：</label>
						<div class="layui-input-block custom_input_width">
							<input type="password" name="olduserpwd" id="olduserpwd" lay-verify="olduserpwd" autocomplete="off" placeholder="请输入原密码" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label"><span class="custom-font-color-red">*&nbsp;</span>新密码：</label>
						<div class="layui-input-block custom_input_width">
							<input type="password" name="userpwd" id="userpwd" lay-verify="userpwd" autocomplete="off" placeholder="请输入新密码" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label"><span class="custom-font-color-red">*&nbsp;</span>确定密码：</label>
						<div class="layui-input-block custom_input_width">
							<input type="password" name="userpwd2" id="userpwd2" lay-verify="userpwd2" autocomplete="off" placeholder="请再次输入新密码" class="layui-input">
						</div>
					</div>

					<div class="layui-form-item">
						<div class="layui-input-block">
							<button class="layui-btn" lay-submit="" lay-filter="form" style="position: relative;left: 70px;">确认修改</button>
						</div>
					</div>
				</form>
				<ins class="adsbygoogle" style="display:inline-block;width:970px;height:10px"></ins>
			</div>
		</div>
	</body>

</html>